header {
    display: grid;
    grid-template-columns: 1fr 15fr 1fr;

    .logo {
        width: fit-content;
    }

    a {
        color: white;

        &:hover {
            color: map.get($theme-colors, 'accent');

            @include transition-ease
        }
    }

    .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
        transform: translate(-150px);

        li {
            padding: 1.5rem 0;

            @include media-md {
                padding: 0;
            }
        }

        @include media-md {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            max-height: none;
            padding: 0;
            transform: translate(0px);
        }
    }

    .menu-icon {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
        user-select: none;

        @include media-md {
            display: none;
        }

        .nav-icon {
            display: block;
            width: 20px;
            height: 2px;
            position: relative;
            background: white;
            border-radius: 5px;
            transition: background .2s ease-out;
        }
        .nav-icon:before,
        .nav-icon:after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            background: white;
            border-radius: 5px;
            transition: all .2s ease-out;
        }
        .nav-icon:before {
            top: 6px;
        }
        .nav-icon:after {
            top: -6px;
        }
    }
    .menu-btn {
        display: none;
    }

    .menu-btn:checked ~ .menu {
        max-height: 400px;
        padding: 2rem 0;
        transform: translate(0px);
        @include transition-ease
    }

    .menu-btn:checked ~ .menu-icon .nav-icon {
        background-color: transparent;
    }

    .menu-btn:checked ~ .menu-icon .nav-icon:before {
        transform: rotate(-45deg);
        top: 0;
    }

    .menu-btn:checked ~ .menu-icon .nav-icon:after {
        transform: rotate(45deg);
        top: 0;
    }

}
section {
    z-index: map.get($z-indexes, 'default');
}