// ===================
// general styles
// ===================
img {
    width: 100%;
}
.bgDiv {
    background: url("../../img/background.jpg") no-repeat center;
    background-size: cover;
}

// ===================
// classes
// ===================
.grow:hover {
transform: scale(1.03);
}
.vh100 {
height: 100vh;
}