// ================================
// font styles
// ================================
h1,
h2,
h3,
h4 {
    font-family: map.get($fonts, "heading");
}
p {
    font-family: map.get($fonts, "paragraph");
}
body {
    font-family: map.get($fonts, "anchor");
}

// ================================
// font sizing
// ================================
$font-size: 100%;
$ratio: 1.333;

// calculate values
$h6: $font-size * $ratio;
$h5: $h6 * $ratio;
$h4: $h5 * $ratio;
$h3: $h4 * $ratio;
$h2: $h3 * $ratio;
$h1: $h2 * $ratio;

p {
    font-size: $font-size;
}
h4 {
    font-size: $h6;
    @include media-sm-md {
        font-size: $h4;
    }
}

h3 {
    font-size: $h5;
    @include media-sm-md {
        font-size: $h3;
    }
}

h2 {
    font-size: $h4;
    @include media-sm-md {
        font-size: $h2;
    }
}

h1 {
    font-size: $h3;
    @include media-sm-md {
        font-size: $h1;
    }
}
  

