// ===================
// button 1
// ===================
.button-1 {
    background: map.get($theme-colors, "secondary");
    border: 3px solid map.get($theme-colors, "secondary");
    border-radius: 50px;
    color: map.get($theme-colors, "white");

    &.default {
        padding: .5rem 1rem;
    }
    &.full {
        width: 100%;
        padding: .5rem;
    }
    &.half {
        width: 50%;
        padding: .5rem;
    }
}

.button-1:hover {
    background: none;
    border: 3px solid map.get($theme-colors, "secondary");
    border-radius: 50px;
    color: map.get($theme-colors, "secondary");

    @include transition-ease;
}
// ===================
// button 2
// ===================
.button-2 {
    background: none;
    border: 3px solid map.get($theme-colors, "secondary");
    border-radius: 50px;
    color: map.get($theme-colors, "secondary");

    &.default {
        padding: .5rem 1rem;
    }
    &.full {
        width: 100%;
        padding: .5rem;
    }
    &.half {
        width: 50%;
        padding: .5rem;
    }
}
.button-2:hover {
    background: map.get($theme-colors, "secondary");
    border: 3px solid map.get($theme-colors, "secondary");
    border-radius: 50px;
    color: map.get($theme-colors, "white");

    @include transition-ease;
}
// .button-1 {
//     color: $secondary-color;
//     background: none;
//     border: 3px solid $secondary-color;
//     border-radius: 50px;
//   }
//   .button-2 {
//     color: $text-color;
//     background-color: $secondary-color;
//     border: 3px solid $secondary-color;
//     border-radius: 50px;
//   }
//   .button-1:hover {
//     color: $text-color;
//     background: $secondary-color;
  
//     @include transition-ease;
//   }
//   .button-2:hover {
//     color: $secondary-color;
//     background: none;
//     border: 3px solid $secondary-color;
  
//     @include transition-ease;
//   }